{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Food Item</h1>
		</div>
	</div>
  <div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{item.name }}">

					<label for="protein">Protein:</label>
					<textarea class="form-control" maxlength="10" rows="1" name="protein">{{item.protein}}</textarea>

          <label for="carbs">Carbs:</label>
					<textarea class="form-control" maxlength="10" rows="1" name="carbs">{{item.carbs}}</textarea>

          <label for="fats">Fats:</label>
					<textarea class="form-control" maxlength="10" rows="1" name="fats">{{item.fats}}</textarea>

          <label for="calories">Calories:</label>
					<textarea class="form-control" maxlength="10" rows="1" name="calories">{{item.calories}}</textarea>

          <label for="amount">Amount:</label>
					<textarea class="form-control" maxlength="10" rows="1" name="amount">{{item.amount}}</textarea>

					<label for="ftype">Food type:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="ftype" id="ftype1" value="Fruits" {% if item.ftype == 'Fruits'%}checked{%endif%}>Fruits
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="ftype" id="ftype2" value="Root Vegetables" {% if item.ftype == 'Root Vegetables' %}checked{%endif%}>Entree
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="ftype" id="ftype3" value="Vegetables" {% if item.ftype == 'Vegetables'%}checked{%endif%}>Dessert
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="ftype" id="ftype4" value="Leaf Vegetables" {%if item.ftype =='Leaf Vegetables'%}checked{%endif%}>Beverage
					  </label>
					</div>
          <div class="radio">
					  <label>
					    <input type="radio" name="ftype" id="ftype5" value="Lentils" {%if item.ftype =='Lentils'%}checked{%endif%}>Beverage
					  </label>
					</div>
          <div class="radio">
					  <label>
					    <input type="radio" name="ftype" id="ftype6" value="Meat" {%if item.ftype =='Meat'%}checked{%endif%}>Beverage
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = '{{url_for('showFoods')}}'>
						<button class="btn btn-default delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
